h1 {
  text-align: center;
  margin-top: 1rem;
}

.inline-inputs {
  display: inline;
  padding: 0.1rem;
  width: 15%;
  margin: 0 0.2rem;
}

.container {
  color: rgb(96, 105, 92);
  width: fit-content;
  border-radius: 10px;
  margin-top: 1rem;
  background: linear-gradient(
    rgba(133, 209, 150, 0.4),
    rgba(150, 240, 171, 0.3)
  ) !important;
}

#edit-button {
  font-size: 0.8rem;
  padding: 0.2rem;
  margin-left: 0.2rem;
}

#edit-button:focus {
  outline: none;
  box-shadow: none;
}

#insulina-rapida {
  font-size: 1.5rem;
  color: rgb(190, 88, 88);
}
